.site-header{
	/*height: 80px;*/
    align-content: center;
	font-family: oswald; 
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0px;
	z-index: 1000;
	
}
.separate-containers .inside-article{
    padding-top: 0px;
    padding-bottom: 0px;
}
.site-main {
    margin: 0px 20px;
}
.footer-widget{
    margin-left: 60px;
    margin-right: 100px;        
}
.table-content{
    padding-top: 30px;
}
.footer-info-right{
    margin-top: 3%;
    text-wrap: nowrap;
}
.gallery-content{
    margin: 10px;
}
.alignwide{
    gap: 5px;
}
td, th {
    padding: 5px;
}
#gallery-top-left, #gallery-bottom-left{
    height: 250px;

}
.wp-block-column-is-layout-flow{
    margin-bottom: 50px;
}
.banner{
    margin-top: 20px;
}
.banner-content{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 10px 10px 20px;
}
.banner-image{
    max-width: 12%;
    transition: 0.3s linear;
    transform: 0.3s ease-in-out;
    opacity: 0.3;
}
.banner-image:hover{
    opacity: 1;
}
.inside-header {
    padding: 0px 40px;
    display: ruby-text;
}
.entry-header .entry-meta{
    display: none
}
.strong-cp{
    font-weight: 900;
}
.strong-light{
    font-weight: 500;
}
.wp-social-link-instagram, .wp-social-link-facebook, .wp-social-link-youtube{
    font-size: 20px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 59%, #000 71%);
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-instagram,
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-facebook,
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-youtube {
    color: #000;
    background-color: transparent;
}

.site-header .header-image,.footer-image.is-logo-image {
    width: 180px;
}
.social-media {
    justify-content: left;
    display: flex;
    margin-top: 30px;
}
.ch-bg-color-base-3.wp-block-button__link{
    border-radius: 0px;
    border: 1px solid white;
    background: transparent;
    color: white;
    text-decoration: none;
    padding: 5px 35px;
    transition: all 300ms ease-in-out;
}
.ch-bg-color-base-3.wp-block-button__link:hover{
    color: black;
    background: white;
    border: 1px solid black;
    transition: all 300ms ease-in-out;
}
.footer-link-copyright{
    padding-left: 20px;
}
.headband{
    height: 32vh;
    text-align: center;
    align-content: center;
    background-color: var(--base);
}
.headband-text-container{
    justify-content: center;
    display: flex;
}
.headband-text{
    max-width: 75ch;
}
.entry-header{
    display: none;
}
.headband-title{
    margin-top: 20px;
}
h2.divider, .headband-title{
    text-align: center;
    font-family: oswald;
}
h3{
    text-align: left;
    font-family: oswald;
}
pre {
    background: white;
    margin-bottom: initial;
    padding: initial;
    overflow: initial;
}
.post-1{
    margin-top: -30px;
    margin-bottom: -30px;
}
#services, #gallery, #contact{
    scroll-margin-top: 100px;
    animation: typing 3s, cursor .5s step-end infinite alternate;
}

@keyframes cursor {
    50% { border-color: transparent; }
}
@keyframes typing {
    from { width: 0 }
}
.between-cards{
    display: none;
}

@media screen and (min-width:900px){
    .copyright, .gallery-content {
        display: flex; /*Convertimos al menú en flexbox*/
        align-items: center;
        justify-content: space-between; /*Con esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda*/
    }
    .gallery-content {
        max-width: 100vw;
        /*max-height: calc(100vh - 40px);*/
        justify-content: left;
    }
    .copyright-bar{
        width: 100%;
    }
    .inside-site-info {
        display: grid;
        justify-content: initial;
    }
}
@media screen and (max-width:899px){
    .slider-right-content, .slider-central-content {
        width: initial;
        padding: 0% 60px;
        align-content: center;
    }
    .table-content{
        font-size: 13px;
        padding-top: 20px;
    }
}
@media screen and (max-width:600px){

    [id^="slider-central"] {
        display: none;
    }
}
@media screen and (max-width:960px){
    .wp-block-columns.is-layout-flex.wp-container-core-columns-layout-3.wp-block-columns-is-layout-flex{
        display: block;
    }
    .between-cards{
        display: block;
    }
    .bcard-height{
        height: 0px;
    }
    .services {
        width: 100%;
    }
    .wp-block-columns.alignwide.has-base-background-color.has-background.is-layout-flex.wp-container-core-columns-layout-5.wp-block-columns-is-layout-flex{
        display: block;
    }
}